div(class='container')
  .messages
    each type in Object.keys(messages)
      div(class=["notification", "is-#{type}"])
        each message in messages[type]
          p= message

  br    
  br          